.wakling {
    height: 200px;
    width: 209.75px;
    background-image: 'images/walk.png';
    animation: walk 1.5s steps(34) infinite;
}

@keyframes walk {
    100% {background-position: -7130px;}
}
