<div class="container">
    <div class="row text-center">
		<div class="col-lg-12">
			<h2>Has completado todas las actividades ¡Enhorabuena!</h2>
		</div>
	</div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <img src="/images/diploma.png" class="diploma" />
        </div>
    </div>
    <div class="row">
		<div class="col-md-12 text-center">
			<form method="get" action="/">
				<input type="submit" value="Salir" class="btn btn-primary btn-lg upload-btn"/>
			</form>
		</div>
	</div>
</div>
