<!DOCTYPE html>
<html>

<head>
	<script src="/js/script.js"></script>
</head>

<body>
	<div class="container">
		<div class="row text-center title-text">
			<div class="col-md-12">
				<h2>Haz click y arrastra cada imagen con la frase que creas mas relacionada </h2>
			</div>
			<div class="col-md-12">
				<h4>Cuando hayas terminado, pulsa el boton que encontraras mas abajo para comenzar los retos</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-1 text-center">
				<div ondrop="drop(event)" ondragover="allowDrop(event)">
					<div ondrop="drop(event), disableButton(event)" ondragover="allowDrop(event)" class="image-frame"><img id="drag1" draggable="true" src="/images/lifting.jpg" ondragstart="drag(event)" class="image image-responsive"/></div>
				</div>
				<p>Caminar 15 minutos</p>
			</div>
			<div class="col-md-4 col-md-offset-2 text-center">
				<div ondrop="drop(event)" ondragover="allowDrop(event)">
					<div id="0" ondrop="drop(event), setSpotAsReady(event)" ondragover="allowDrop(event)" class="image-frame"></div>
				</div>
				<p>Es imposible que lo haga debido a mi dolor</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-1 text-center">
				<div ondrop="drop(event)" ondragover="allowDrop(event)">
					<div ondrop="drop(event), disableButton(event)" ondragover="allowDrop(event)" class="image-frame"><img id="drag2" draggable="true" src="/images/stepping.jpg" ondragstart="drag(event)" class="image image-responsive"/></div>
				</div>
				<p class="text-center">Subir escaleras</p>
			</div>
			<div class="col-md-4 col-md-offset-2 text-center">
				<div ondrop="drop(event)" ondragover="allowDrop(event)">
					<div id="1" ondrop="drop(event), setSpotAsReady(event)" ondragover="allowDrop(event)" class="image-frame"></div>
				</div>
				<p class="text-center">Lo podría hacer pero tendría mucho dolor</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-1 text-center">
				<div ondrop="drop(event)" ondragover="allowDrop(event)">
					<div ondrop="drop(event), disableButton(event)" ondragover="allowDrop(event)" class="image-frame"><img id="drag3" draggable="true" src="/images/running.jpg" ondragstart="drag(event)" class="image image-responsive"/></div>
				</div>
				<p class="text-center">Levantar peso</p>
			</div>
			<div class="col-md-4 col-md-offset-2 text-center">
				<div ondrop="drop(event)" ondragover="allowDrop(event)">
					<div id="2" ondrop="drop(event), setSpotAsReady(event)" ondragover="allowDrop(event)" class="image-frame"></div>
				</div>
				<p class="text-center">Lo puedo hacer pero con dificultades</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-1 text-center">
				<div ondrop="drop(event)" ondragover="allowDrop(event)">
					<div ondrop="drop(event), disableButton(event)" ondragover="allowDrop(event)" class="image-frame"><img id="drag4" draggable="true" src="/images/cycling.jpg" ondragstart="drag(event)" class="image image-responsive"/></div>
				</div>
				<p class="text-center">Montar en bicicleta</p>
			</div>
			<div class="col-md-4 col-md-offset-2 text-center">
				<div ondrop="drop(event)" ondragover="allowDrop(event)">
					<div id="3" ondrop="drop(event), setSpotAsReady(event)" ondragover="allowDrop(event)" class="image-frame"></div>
				</div>
				<p class="text-center">Lo puedo hacer pero tendría algunas molestias</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-1 text-center">
				<div ondrop="drop(event)" ondragover="allowDrop(event)">
					<div ondrop="drop(event), disableButton(event)" ondragover="allowDrop(event)" class="image-frame"><img id="drag5" draggable="true" src="/images/running.jpg" ondragstart="drag(event)" class="image image-responsive"/></div>
				</div>
				<p class="text-center">Caminar 30 minutos</p>
			</div>
			<div class="col-md-4 col-md-offset-2 text-center">
				<div ondrop="drop(event)" ondragover="allowDrop(event)">
					<div id="4" ondrop="drop(event), setSpotAsReady(event)" ondragover="allowDrop(event)" class="image-frame"></div>
				</div>
				<p class="text-center">Creo que lo puedo hacer aunque puedo tener pequeñas molestias</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-center">
				<form method="get" action="/challenges/hangman/lift">
					<input id="button-challenge" type="submit" value="Estoy listo" class="btn btn-primary btn-lg upload-btn"/>
				</form>
			</div>
		</div>
	</div>
</body>

</html>
